body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 8.75%;
    bottom: 0;
    width: 100%;
}

#headerimg{
    width: 100%;
}

.map-overlay {
    position: absolute;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    top: 11%;
    right: 20px;
    width: 300px;
    box-shadow: 10px 10px 25px #888888;
    border-radius: 10px;
    border: 3px solid rgba(194, 191, 191, 0.5);
    background-color: white;
    background-clip: padding-box;
}

#detailTitle {
    margin-top: 20px;
    margin-bottom: 0;
}

#subtitle {
    margin-left: 10px;
    margin-top: 0;
    font-size: 10pt;
    text-align: left;
}


#placeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 225px;
}

#close-btn {
    width: 20px;
    height: 20px;
    border: none;
    background-color: white;
}

.Description {
    padding-left: 25px;
    text-indent: -25px;
}

.filters {
    display: inline;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    border: none;
}

.closeNearby{
    border: none;
    background-color: rgba(0,0,0,0);
}

.advanceInfo {
    margin-top: 40px;
}


h2 {
    margin: 10px;
    font-size: 1.2em;
    text-align: left;
}

p {
    margin: 10px;
    font-size: 1em;
    text-align: left;
}

.infoButton {
    text-align: left;
    height: 35px;
}

#nearbyClose-btn {
    display: none;
    font-size: 12px;
    color: white;
    background-color: #3887be;
    border: 1px solid #3887be;
    border-radius: 5px;
    box-sizing:content-box;
    position: absolute;
    margin-left: 5px;
    margin-top: 15px;
}

#nearbyClose-btn:hover{
    color: white;
    background-color: darkorange;
    border: 1px solid darkorange;
}


#close-btn {
    float: right;
}

.nav-btn {
    width: 40px;
    height: 40px;
    border: none;
}


.marker > img {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}


.layerFilterPanel {
    position: absolute;
    font-family: Arial, sans-serif;
    overflow: auto;
    bottom: 28px;
    right: 48px;
    width: 220px;
    border-radius: 7px;
    border: 3px solid rgba(194, 191, 191, 0.5);
    background-color: white;
    background-clip: padding-box;

}

#filter-btn {
    font-size: 12px;
    margin: 0;
    display: block;
    padding: 7px;
    text-decoration: none;
    text-align: center;
    background-color: #3887be;
    color: white;
}

#filter-btn:hover{
    background-color: darkorange;
    color: white;
}

#layerFilterList {
    display: none;
}

#layerFilterList a {
    font-size: 14px;
    margin: 0;
    display: block;
    padding: 14px;
    text-decoration: none;
    border-bottom: 1px solid rgba(194, 191, 191, 0.5);
    text-align: center;
    background-color: white;
    color: #404040;
    background-position: 20px 5px;
    background-size: 35px;
    background-repeat: no-repeat;
}

#layerFilterList a:hover {
    background-color: #3887be;
    color: #ffffff;
}

#layerFilterList a.disable {
    background-color: #3887be;
    color: #ffffff;
}

#layerFilterList a.active {
    background-color: #ffffff;
    color: #404040;
}

#layerFilterList a.active:hover {
    background-color: #3887be;
    color: #ffffff;
}


.navigationBtnPanel {
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: black;
    overflow: auto;
    top: 9.75%;
    left: 320px;
    width: 163px;
    border-radius: 4px;
    border: 2px solid rgba(194, 191, 191, 0.5);
    background-color: white;
    background-clip: padding-box;
    text-decoration: none;
    padding: 12px 5px 10px 8px;
}

.navigationBtnIntro {
    padding-left: 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}