body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 1);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
}

#detailPanel {
    top: 0;
    right: 10px;
    height: 400px;
    margin-top: 20px;
    width: 300px;
}

#detailTitle {
    margin-top: 20px;
}

#close-btn {
    width: 20px;
    height: 20px;
    border: none;
    background-color: white;
}

#ptv-btn {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: url(./images/other/ptv.jpeg);
    background-size: cover;
    cursor: pointer;
}




h2 {
    margin: 10px;
    font-size: 1.2em;
    text-align: left;
}

p {
    margin: 10px;
    font-size: 1em;
    text-align: right;
}

#placeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#close-btn {
    float: right;
}

.nav-btn {
    width: 40px;
    height: 40px;
    border: none;
}


.marker > img {
    /*background-image: url('./images/poi/Melbourne Central.jpg');*/
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: none;
    max-height: none;
}

.mapboxgl-popup-content {
    width: 350px;
    height: 400px;
}

/*.mapboxgl-popup > #logo {*/
/*    width: 100px;*/
/*}*/
