body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.map-overlay {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    top: 0;
    right: 10px;
    margin-top: 20px;
    width: 300px;
    box-shadow: 10px 10px 25px #888888;
    border-radius: 4%;
}

#detailTitle {
    margin-top: 20px;
    margin-bottom: 0;
}

#subtitle {
    margin-left: 10px;
    margin-top: 0;
    font-size: 10pt;
    text-align: left;
}


#placeImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#close-btn {
    width: 20px;
    height: 20px;
    border: none;
    background-color: white;
}

.Description {
    padding-left:25px;
    text-indent:-25px;
}

.filters {
    /*display: block;*/
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    border: none;
}

.advanceInfo {
    margin-top: 40px;
}


h2 {
    margin: 10px;
    font-size: 1.2em;
    text-align: left;
}

p {
    margin: 10px;
    font-size: 1em;
    text-align: left;
}

.infoButton {
    text-align: right;
}


#close-btn {
    float: right;
}

.nav-btn {
    width: 40px;
    height: 40px;
    border: none;
}


.marker > img {
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: none;
    max-height: none;
}

.mapboxgl-popup-content {
    width: 350px;
    height: 400px;
}

.layerFilterPanel {
    position: absolute;
    font-family: Arial, sans-serif;
    overflow: auto;
    bottom: 20px;
    right: 20px;
    width: 250px;
    box-shadow: 10px 10px 25px #888888;
    border-radius: 5%;
}

#filter-btn{
    font-size: 15px;
    margin: 0;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
}

#layerFilterList{
    display: none;
}

#layerFilterList a {
    font-size: 20px;
    margin: 0;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
    background-color: #f8f8f8;
    color: #404040;
    background-position: 20px top;
    background-size: 40px;
    background-repeat: no-repeat;
}

#layerFilterList a:hover {
    background-color: #3887be;
    color: #ffffff;
}

#layerFilterList a.disable {
    background-color: #3887be;
    color: #ffffff;
}

#layerFilterList a.active {
    background-color: #f8f8f8;
    color: #404040;
}

#layerFilterList a.active:hover {
    background-color: #3887be;
    color: #ffffff;
}